<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <p-button pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></p-button>
      <p-button
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger ml-2"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      ></p-button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['firstname', 'lastname']"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage items</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="username">Username <p-sortIcon field="username"></p-sortIcon></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Creation date</th>
        <th>Activation</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.username }}</td>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.createdAt | date: 'd/MM/yyyy' }}</td>
        <td>
          <p-tag *ngIf="item.isActivated" severity="success" value="Activated"></p-tag>
          <p-tag *ngIf="!item.isActivated" severity="danger" value="Disabled"></p-tag>
        </td>

        <td>
          <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded" (click)="editItem(item)"></p-button>
          <p-button
            pRipple
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-outlined ml-2"
            (click)="deleteItem(item)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex p-ai-center p-jc-between">In total there are {{ items ? items.length : 0 }} products.</div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="dialog" [style]="{ width: '450px' }" header="Item Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="item.firstname" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !item.firstname">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="item.firstname" required rows="3" cols="20"></textarea>
    </div>

    <div class="p-field">
      <label class="p-mb-3">Firstname</label>
      <div class="p-formgrid p-grid">
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category1"
            name="category"
            value="Accessories"
            [(ngModel)]="item.firstname"
          ></p-radioButton>
          <label for="category1">Accessories</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="item.firstname"></p-radioButton>
          <label for="category2">Clothing</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton
            id="category3"
            name="category"
            value="Electronics"
            [(ngModel)]="item.firstname"
          ></p-radioButton>
          <label for="category3">Electronics</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="item.firstname"></p-radioButton>
          <label for="category4">Fitness</label>
        </div>
      </div>
    </div>

    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="price">Price</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="item.firstname"
          mode="currency"
          currency="USD"
          locale="en-US"
        ></p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="quantity">Quantity</label>
        <p-inputNumber id="quantity" [(ngModel)]="item.firstname"></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
