<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <p-button pRipple label="New Sprint" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></p-button>
      <p-button
        pRipple
        label="Delete Sprint"
        icon="pi pi-trash"
        class="p-button-danger ml-2"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      ></p-button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="items"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['firstname', 'lastname']"
    [(selection)]="selectedItems"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex p-ai-center p-jc-between">
        <h5 class="m-0">Manage items</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th id="header-checkbox" style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th id="header-label" pSortableColumn="label">Label <p-sortIcon field="label"></p-sortIcon></th>
        <th id="header-creation-date">Creation Date</th>
        <th id="header-last-updated">Last Updated</th>
        <th id="header-last-updated">Start Date</th>
        <th id="header-last-updated">End Date</th>
        <th id="header-status" pSortableColumn="status.label">Status <p-sortIcon field="status.label"></p-sortIcon></th>
        <th id="header-empty">Edit/Delete</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.label }}</td>
        <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.updatedAt | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.start_date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.end_date | date: 'dd/MM/yyyy' }}</td>
        <td>
          <span class="custom-tag" [ngStyle]="selectColorStatus(item)">{{ item.status.label }}</span>
        </td>

        <td>
          <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded" (click)="editItem(item)"></p-button>
          <p-button
            pRipple
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-outlined ml-2"
            (click)="deleteItem(item)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex p-ai-center p-jc-between">Items count : {{ items ? items.length : 0 }}</div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="dialogUpdate" [style]="{ width: '450px' }" header="Item Details" [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="content">
    <div class="field">
      <label for="label">Label</label>
      <input type="text" pInputText id="label" [(ngModel)]="item.label" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !item.label">Required field</small>
    </div>

    <div class="field">
      <label for="startDate">Start Date</label>
      <p-calendar 
        [ngClass]="{'ng-invalid ng-dirty': item.start_date}" 
        id="startDate" 
        [(ngModel)]="item.start_date"
        [minDate]="minStartDate"
        appendTo="body">
      </p-calendar>
      <small class="p-invalid" *ngIf="submitted && !item.start_date">Required field</small>
    </div>

    <div class="field">
      <label for="endDate">End Date</label>
      <p-calendar 
        [ngClass]="{'ng-invalid ng-dirty': item.end_date}" 
        id="endDate" 
        [(ngModel)]="item.end_date"
        [minDate]="minStartDate"
        appendTo="body">
      </p-calendar>
      <small class="p-invalid" *ngIf="submitted && !item.end_date">Required field</small>
    </div>

    <div class="field">
      <label for="lastname">Lastname</label>
      <p-dropdown [options]="sprintStatus" [(ngModel)]="selectedStatus" optionLabel="label" appendTo="body">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="selectedStatus">
            <span class="custom-tag" [ngStyle]="selectColorStatus(selectedStatus)">{{ selectedStatus.label }}</span>
          </div>
        </ng-template>
        <ng-template let-status pTemplate="item">
          <div class="test">
            <span class="custom-tag" [ngStyle]="selectColorStatus(status)">{{ status.label }}</span>
          </div>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !item.status">Required field</small>
    </div>
   
  </ng-template> 

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="dialogNew" [style]="{ width: '450px' }" header="Item Details" [modal]="true" styleClass="p-fluid">
  <form [formGroup]="form" novalidate class="form-group">

    <div class="flex align-items-center justify-content-center flex-column">
      <div class="field w-6">
        <label for="label" class="block">Label*</label>
        <input id="label" 
          [ngClass]="{'ng-invalid ng-dirty': form.controls.label.touched && form.controls.label.invalid}"
          type="username" 
          aria-describedby="label-help" 
          pInputText 
          formControlName="label"/>
          <small
            class="p-error"
            *ngIf="
              form.controls.label.touched &&
              form.controls.label.errors?.required
            "
          >
            Label is required
          </small>
        </div> 

      <div class="field w-6">
        <label for="startDate">Start date*</label>
        <p-calendar 
          [ngClass]="{'ng-invalid ng-dirty': form.controls.startDate.touched && form.controls.startDate.invalid}" 
          inputId="startDate" 
          [(ngModel)]="minEndDate" 
          formControlName="startDate" 
          [minDate]="minStartDate"
          appendTo="body">
        </p-calendar>
        <small
          class="p-error"
          *ngIf="
            form.controls.startDate.touched &&
            form.controls.startDate.errors?.required
          "
        >
          A Start Date is required
        </small>
      </div>

      <div class="field w-6">
        <label for="endDate">End date*</label>
        <p-calendar 
          [ngClass]="{'ng-invalid ng-dirty': (form.controls.endDate.touched && form.controls.endDate.invalid) || endWrong}" 
          inputId="endDate" 
          formControlName="endDate" 
          [minDate]="minEndDate"
          appendTo="body">
        </p-calendar>
        <small
          class="p-error"
          *ngIf="
            form.controls.endDate.touched &&
            form.controls.endDate.errors?.required
          "
        >
          An End Date is required
        </small>
      </div>

      <div class="field w-6">
        <label for="project">Select a project*</label>
        <p-dropdown 
          [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls.selectedProjectForm.invalid}" 
          inputId="project" 
          [options]="projects" 
          [(ngModel)]="selectedProjectForm"
          formControlName="selectedProjectForm" 
          optionLabel="label" 
          [showClear]="true"
          appendTo="body">
        </p-dropdown>
        <small
          class="p-error"
          *ngIf="
            form.controls.selectedProjectForm.touched &&
            form.controls.selectedProjectForm.errors?.required
          "
        >
          Project is required
        </small>
      </div>

      <button pButton pRipple type="button" label="Create Sprint" class="p-button-raised w-3 h-3rem mt-3" (click)="saveSprint()"></button>
    </div>
  </form>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
