<div>
  <p-button label="LOAD FIXTURES" (click)="loadFixtures()"></p-button>
  <!-- <p-button label="LOAD CONSTITENTIALS FIXTURES" (click)="loadConstitentialsFixtures()"></p-button> -->
  <p-button label="TRUNCATE DATABASE" (click)="truncateDatabase()"></p-button>
</div>

<div>
  <!-- <p-button label="CREATE USER" (click)="createUser()"></p-button> -->
  <p-button label="UPDATE USER" (click)="updateUser()" *ngIf="currentUser"></p-button>
  <p-button label="DELETE USER" (click)="deleteUser()" *ngIf="currentUser"></p-button>
  <p-button label="GET ALL USER" (click)="retrieveAllUsers()"></p-button>
  <p-button label="GET USER" (click)="retrieveUser()"></p-button>
  <p-button label="ACTIVATE USER" (click)="activateUser()" *ngIf="currentUser"></p-button>
  <p-button label="DESACTIVATE USER" (click)="deactivateUser()" *ngIf="currentUser"></p-button>
  <p-button label="LOGIN USER" (click)="login()"></p-button>
</div>
<div>
  <p-button label="create task" (click)="createTask()"></p-button>
  <p-button label="retrieve task" (click)="retrieveTask()"></p-button>
  <p-button label="retrieve all tasks" (click)="retrieveAllTasks()"></p-button>
  <p-button label="assign task to user" (click)="assignTaskToUser()"></p-button>
  <p-button label="assign task to sprint" (click)="assignTaskToSprint()"></p-button>
</div>

<div>
  <p-button label="CREATE PROJECT" (click)="createProject()"></p-button>
  <p-button label="UPDATE PROJECT" (click)="updateProject()"></p-button>
  <p-button label="DELETE PROJECT" (click)="deleteProject()"></p-button>
  <p-button label="GET ALL PROJECT" (click)="retrieveAllProjects()"></p-button>
  <p-button label="GET PROJECT" (click)="retrieveProject()"></p-button>
</div>

<div>
  <p-button label="CREATE SPRINT STATUS" (click)="createSprintStatus()"></p-button>
  <p-button label="UPDATE SPRINT STATUS" (click)="updateSprintStatus()"></p-button>
  <p-button label="DELETE SPRINT STATUS" (click)="deleteSprintStatus()"></p-button>
  <p-button label="GET ALL SPRINT STATUS" (click)="retrieveAllSprintStatus()"></p-button>
  <p-button label="GET SPRINT STATUS" (click)="retrieveSprintStatus()"></p-button>
</div>

<div>
  <p-button label="CREATE SPRINT" (click)="createSprint()"></p-button>
  <p-button label="UPDATE SPRINT" (click)="updateSprint()"></p-button>
  <p-button label="DELETE SPRINT" (click)="deleteSprint()"></p-button>
  <p-button label="GET ALL SPRINT" (click)="retrieveAllSprints()"></p-button>
  <p-button label="GET ALL SPRINT BY PROJECT" (click)="retrieveAllSprintsByProject()"></p-button>
  <p-button label="GET SPRINT" (click)="retrieveSprint()"></p-button>
</div>

<h1 [textContent]="(currentProject$ | async)?.project?.label"></h1>
<h1>OTHER</h1>
<h2 [textContent]="title"></h2>
