<ng-container *ngIf="context$ | async as context; else noSelection">
  <div class="card">
    <p-toolbar #toolbar styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <p-dropdown
          optionLabel="label"
          [options]="context.availableSprints"
          [ngModel]="context.sprint"
          (ngModelChange)="refreshSelectedSprint($event)"
        ></p-dropdown>
        <p-button
          pRipple
          label="New"
          icon="pi pi-plus"
          styleClass="p-button-success ml-2"
          (click)="openNew()"
        ></p-button>
        <p-button
          pRipple
          label="Delete"
          icon="pi pi-trash"
          styleClass="p-button-danger ml-2"
          (click)="deleteSelectedItems()"
          [disabled]="!selectedItems || !selectedItems.length"
        ></p-button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="items"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['firstname', 'lastname']"
      [(selection)]="selectedItems"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex p-ai-center p-jc-between">
          <h5 class="m-0">Manage items</h5>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th id="header-checkbox" style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th id="header-label" pSortableColumn="label" [ngStyle]="{ width: '10rem' }">
            Label <p-sortIcon field="label"></p-sortIcon>
          </th>
          <th id="header-description" [ngStyle]="{ width: '25rem' }">Description</th>
          <th id="header-creation-date">Creation date</th>
          <th id="header-last-updated">Update date</th>
          <th id="header-sprint" pSortableColumn="sprint.id">Sprint <p-sortIcon field="sprint.id"></p-sortIcon></th>
          <th id="header-status" pSortableColumn="status.label">
            Status <p-sortIcon field="status.label"></p-sortIcon>
          </th>
          <th id="header-type" pSortableColumn="type.label">Type <p-sortIcon field="type.label"></p-sortIcon></th>
          <th id="header-assigned" [ngStyle]="{ width: '10rem' }">Assignees</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>{{ item.label }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
          <td>{{ item.updatedAt | date: 'dd/MM/yyyy' }}</td>
          <td>
            <span class="custom-tag" [ngStyle]="getColorForSprint(item)">{{
              item.sprint?.label || 'Not assigned'
            }}</span>
          </td>
          <td>
            <span class="custom-tag" [ngStyle]="getColorForTaskStatus(item.status)">{{ item.status.label }}</span>
          </td>
          <td>
            <span class="custom-tag" [ngStyle]="getColorForTaskType(item.type)">{{ item.type.label }}</span>
          </td>
          <td>
            <span *ngFor="let user of item.users" class="user-initials" [pTooltip]="getName(user)">{{
              getInitials(user)
            }}</span>
          </td>
          <td>
            <p-button pRipple icon="pi pi-pencil" styleClass="p-button-rounded m-1" (click)="editItem(item)"></p-button>
            <p-button
              pRipple
              icon="pi pi-trash"
              styleClass="p-button-rounded p-button-outlined m-1"
              (click)="deleteItem(item)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex p-ai-center p-jc-between">Items count : {{ items ? items.length : 0 }}</div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="dialog" [style]="{ width: '450px' }" header="Task details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="label">Label</label>
        <input type="text" pInputText id="label" [(ngModel)]="item.label" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !item.label">Required field</small>
      </div>

      <div class="field">
        <label for="type">Type</label>
        <p-dropdown
          placeholder="Select a type"
          [options]="availableTaskTypes"
          [(ngModel)]="item.type"
          optionLabel="label"
          appendTo="body"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="item.type">
              <span class="custom-tag" [ngStyle]="getColorForTaskType(item.type)">{{ item.type.label }}</span>
            </div>
          </ng-template>
          <ng-template let-type pTemplate="item">
            <div class="test">
              <span class="custom-tag" [ngStyle]="getColorForTaskType(type)">{{ type.label }}</span>
            </div>
          </ng-template>
        </p-dropdown>
        <small class="p-invalid" *ngIf="submitted && !item.type">Required field</small>
      </div>

      <div class="field">
        <label for="type">Status</label>
        <p-dropdown
          placeholder="Select a status"
          [options]="availableTaskStatuses"
          [(ngModel)]="item.status"
          optionLabel="label"
          appendTo="body"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="item.status">
              <span class="custom-tag" [ngStyle]="getColorForTaskStatus(item.status)">{{ item.status.label }}</span>
            </div>
          </ng-template>
          <ng-template let-status pTemplate="item">
            <div class="test">
              <span class="custom-tag" [ngStyle]="getColorForTaskStatus(status)">{{ status.label }}</span>
            </div>
          </ng-template>
        </p-dropdown>
        <small class="p-invalid" *ngIf="submitted && !item.status">Required field</small>
      </div>

      <div class="field">
        <label for="description">Description</label>
        <textarea
          pInputTextarea
          type="text"
          style="height: 5rem"
          [rows]="5"
          [cols]="30"
          [autoResize]="true"
          id="description"
          [(ngModel)]="item.description"
          required
        ></textarea>
        <small class="p-invalid" *ngIf="submitted && !item.description">Required field</small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveItem()"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
</ng-container>

<ng-template #noSelection>
  <div>No context selected</div>
</ng-template>
